body{
	margin: auto;
	min-height: 100vh;
	padding-bottom:0;
	font-family: arial, geneva, helvetica, sans-serif;
	background-image: url(Images/CSSImages/WebsiteBackground.jpg);
	background-position:top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header{
	width: auto;
	height: 150px;
	background-color:#ffffff;
	background-size: cover;
	background-image: url(Images/CSSImages/WebsiteHeader.jpg);
	background-position: center;
	background-repeat: no-repeat;
}

nav{
	background-color: #FF0000;
	box-shadow: -1px 5px 10px #000000;
}

nav a{
	width: 20%;
	float: left;
	color: #000000;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffffff;
	padding: 15px 0px 15px 0px;
	border-bottom: 3px solid #FF0000;
	border-top: 3px solid #FF0000;
}

nav a:hover	{
	background: #FF5555!important;
	color: #ffffff!important;
	text-shadow: 0 0 5px #FFFFFF!important;
	border-bottom: 3px solid #ffffff!important;
	border-top: 3px solid #ffffff!important;

}

nav a:active{
	background: #c10000!important;
	color: #FFFFFF!important;
	text-shadow: 0 0 5px #FFFFFF!important;
	border-bottom: 3px solid#a8a8a8!important;
	border-top: 3px solid #a8a8a8!important;
}

nav a:visited{
	color: #000000;
	background: #FFFFFF;
	border-bottom: 3px solid #FF0000;
	border-top: 3px solid #FF0000;
}

section{
	width: 100%;
	min-height: 100vh;
	background-color: rgba(255,255,255,0.90) ;
	padding: 10px 0px 20px 0px;
	display: flex;
	flex-direction: column;
}

footer{ 
	width: 100%;
	height: 40px;
	color: #ff0000;
	position: absolute;
	padding-top: 10px;
	text-align: center;
	background-color: #ffffff; 
	box-shadow: 0px -2px 5px #000000;
	bottom: 0;
}

h1{
	text-align: center;
	font-size: 40px;
	color: #000000;
	text-decoration: underline overline;
}

h2{
	font-size: 25px;
	text-decoration-line: underline;
}

h3{
	font-size: 20px;
	text-decoration-line: underline;
}

p{
	margin-top: -20px;
	padding: 0 30px 5px 30px;
}

ul{
	list-style-image: url(Images/Bullet-JapaneseFlag.png); 
	padding: 0px 60px 0px 60px;
	margin-top: -20px;
}

a:hover	{
	color: #ff6666!important;
}

a:active {
	color:#960000!important;
}

a:visited{
	color:#a51800;
}

a:link{
	color: #ff0000;
}

.title{
	padding: 0px 0px 0px 30px;
}


.floatRight{
	float: right;
	padding-right: 30px;
	margin-top: -30px;
	display: flex;
}

.TextFormat{
	font-size: 20px;
	color: #000000;
	text-align: justify;
	word-wrap: break-word;
}

.active{
	background-color: #ff0000  !important;
	color: #ffffff  !important;
	border-bottom: 3px solid #ffffff  !important;
	border-top: 3px solid #ffffff  !important;
	text-shadow: 0 0 5px #FFFFFF  !important;
}

.clr{
	clear: both;
}

.clrLeft{
	clear: left;
}

.Innerwrapper{
	width: 60%;
	margin: auto;
	padding-bottom: 50px;
}

.OuterWrapper{
	width: auto;
}


.page{
	position: relative;
	min-height: 100vh;
}

.roundedbox{
	margin: 20px;
	border: 5px solid #FF0000;
	border-radius: 10px;
	color: #000000;
}

.align{
	display: inline-block;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
}

.Break{
	padding-top: 20px;
}